body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1152px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1152px;
  height:665px;
}
#u12891_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1152px;
  height:665px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12891_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:654px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12892 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:9px;
  width:1136px;
  height:654px;
  display:flex;
}
#u12892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u12893 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:75px;
  width:181px;
  height:27px;
  display:flex;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u12893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:655px;
}
#u12894 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:9px;
  width:1px;
  height:654px;
  display:flex;
  -webkit-transform:rotate(-0.00486712363020341deg);
  -moz-transform:rotate(-0.00486712363020341deg);
  -ms-transform:rotate(-0.00486712363020341deg);
  transform:rotate(-0.00486712363020341deg);
}
#u12894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:2px;
}
#u12895 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:60px;
  width:208px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.619656743065778deg);
  -moz-transform:rotate(0.619656743065778deg);
  -ms-transform:rotate(0.619656743065778deg);
  transform:rotate(0.619656743065778deg);
}
#u12895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#7F7F7F;
}
#u12896 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:75px;
  width:46px;
  height:27px;
  display:flex;
  font-size:12px;
  color:#7F7F7F;
}
#u12896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12897 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:25px;
  width:56px;
  height:16px;
  display:flex;
}
#u12897 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12897_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12898 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:120px;
  width:70px;
  height:16px;
  display:flex;
}
#u12898 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12898_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12899 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:156px;
  width:70px;
  height:16px;
  display:flex;
}
#u12899 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12899_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12900 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:192px;
  width:56px;
  height:16px;
  display:flex;
}
#u12900 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12900_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12901 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:227px;
  width:56px;
  height:16px;
  display:flex;
}
#u12901 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12901_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12902 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:263px;
  width:56px;
  height:16px;
  display:flex;
}
#u12902 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12902_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u12903 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:126px;
  width:14px;
  height:8px;
  display:flex;
}
#u12903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u12904 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:126px;
  width:14px;
  height:8px;
  display:flex;
}
#u12904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12905 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:141px;
  width:93px;
  height:118px;
  visibility:hidden;
}
#u12905_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:118px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12905_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:28px;
  display:flex;
}
#u12906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:93px;
  height:28px;
  display:flex;
}
#u12907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:93px;
  height:28px;
  display:flex;
}
#u12908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:93px;
  height:28px;
  display:flex;
}
#u12909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12910 {
  position:absolute;
  left:208px;
  top:-6px;
}
#u12910_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12910_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:2px;
}
#u12911 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:72px;
  width:899px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.289340940871125deg);
  -moz-transform:rotate(0.289340940871125deg);
  -ms-transform:rotate(0.289340940871125deg);
  transform:rotate(0.289340940871125deg);
}
#u12911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u12912 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:33px;
  width:28px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u12912 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12912_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:2px;
}
#u12913 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:125px;
  width:899px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.289340940871125deg);
  -moz-transform:rotate(0.289340940871125deg);
  -ms-transform:rotate(0.289340940871125deg);
  transform:rotate(0.289340940871125deg);
}
#u12913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u12914 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:86px;
  width:56px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u12914 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12914_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:2px;
}
#u12915 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:182px;
  width:899px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.289340940871125deg);
  -moz-transform:rotate(0.289340940871125deg);
  -ms-transform:rotate(0.289340940871125deg);
  transform:rotate(0.289340940871125deg);
}
#u12915 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u12916 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:143px;
  width:56px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u12916 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12916_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:2px;
}
#u12917 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:239px;
  width:899px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.289340940871125deg);
  -moz-transform:rotate(0.289340940871125deg);
  -ms-transform:rotate(0.289340940871125deg);
  transform:rotate(0.289340940871125deg);
}
#u12917 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u12918 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:200px;
  width:28px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u12918 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12918_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:2px;
}
#u12919 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:295px;
  width:899px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.289340940871125deg);
  -moz-transform:rotate(0.289340940871125deg);
  -ms-transform:rotate(0.289340940871125deg);
  transform:rotate(0.289340940871125deg);
}
#u12919 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u12920 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:256px;
  width:28px;
  height:16px;
  display:flex;
  color:#7F7F7F;
}
#u12920 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12920_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12921 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:33px;
  width:28px;
  height:16px;
  display:flex;
}
#u12921 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12921_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8080FF;
}
#u12922 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:33px;
  width:28px;
  height:16px;
  display:flex;
  color:#8080FF;
}
#u12922 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12922_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12923 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:33px;
  width:28px;
  height:16px;
  display:flex;
}
#u12923 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12923_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12924 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:86px;
  width:15px;
  height:16px;
  display:flex;
}
#u12924 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12924_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8080FF;
}
#u12925 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:86px;
  width:23px;
  height:16px;
  display:flex;
  color:#8080FF;
}
#u12925 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12925_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12926 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:86px;
  width:31px;
  height:16px;
  display:flex;
}
#u12926 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12926_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12927 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:86px;
  width:39px;
  height:16px;
  display:flex;
}
#u12927 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12927_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12928 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:86px;
  width:39px;
  height:16px;
  display:flex;
}
#u12928 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12928_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12929 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:86px;
  width:39px;
  height:16px;
  display:flex;
}
#u12929 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12929_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12930 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:141px;
  width:28px;
  height:16px;
  display:flex;
}
#u12930 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12930_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8080FF;
}
#u12931 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:141px;
  width:28px;
  height:16px;
  display:flex;
  color:#8080FF;
}
#u12931 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12931_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12932 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:141px;
  width:42px;
  height:16px;
  display:flex;
}
#u12932 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12932_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12933 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:141px;
  width:42px;
  height:16px;
  display:flex;
}
#u12933 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12933_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12934 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:141px;
  width:42px;
  height:16px;
  display:flex;
}
#u12934 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12934_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8080FF;
}
#u12935 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:200px;
  width:28px;
  height:16px;
  display:flex;
  color:#8080FF;
}
#u12935 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12935_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12936 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:200px;
  width:28px;
  height:16px;
  display:flex;
}
#u12936 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12936_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8080FF;
}
#u12937 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:256px;
  width:28px;
  height:16px;
  display:flex;
  color:#8080FF;
}
#u12937 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12937_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8080FF;
}
#u12938 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:256px;
  width:28px;
  height:16px;
  display:flex;
  color:#8080FF;
}
#u12938 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12938_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(55, 114, 229, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u12940 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:309px;
  width:60px;
  height:27px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u12940 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(128, 128, 255, 1);
  border-left:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u12941 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:309px;
  width:65px;
  height:27px;
  display:flex;
  font-size:12px;
  color:#000000;
}
#u12941 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12941_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12942 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:290px;
}
#u12943 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:360px;
  width:1px;
  height:289px;
  display:flex;
  -webkit-transform:rotate(-0.638811488552257deg);
  -moz-transform:rotate(-0.638811488552257deg);
  -ms-transform:rotate(-0.638811488552257deg);
  transform:rotate(-0.638811488552257deg);
}
#u12943 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:2px;
}
#u12944 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:649px;
  width:750px;
  height:1px;
  display:flex;
}
#u12944 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
